.container {
    margin: 20px;
    display: grid;
    height: 500px;
    grid-template-columns: repeat(4, 25%);
    grid-template-rows: [row-1-start] 5rem [row-1-end row-2-start] minmax(10px, auto) [row-2-end row-3-start] 100px;
    gap: 10px;
    grid-template-areas: "header header header header"
                         "side main main main"
                         "footer footer footer footer";
}

.el1 {
    background: rgba(255, 154, 72, 0.5);
    grid-area: side;
}

.el2 {
    background: rgba(255, 0, 0, 0.5);
    /* grid-column: 1 / -1; 
    grid-row-start: row-2-start;
    grid-row-end: span 1; */
    grid-area: header;
    z-index: 10;
}

.el3 {
    background: rgba(0, 128, 0, 0.5);
    /* grid-area: row-1-start / 2 / row-3-start / span 3; */
    grid-area: main;
}

.el4 {
    background: rgba(0, 4, 255, 0.5);
    grid-area: footer;
}